
* {
    margin: 0; /* Убираем отступы */
    padding: 0;
}


body {
    height: 100%; /* Высота страницы */
    background: url(back.jpg); /* Параметры фона */
    background-size: cover; /* Фон занимает всю доступную площадь */
}
p {
    
}


.mainblock {
	
	position: relative;
    width: 600px; /*задаем ширину блока*/
  	height:400px; /*задаем высоту блока*/
  	transform: translate(-50%, -50%);
  	position: absolute; 
  	top: 50%; 
  	left: 50%;
    border-radius: 10px;  
    box-shadow: 0 0 10px rgba(0,0,0,0.8);
  	
}

.blocks{

	width: 200px; 
  	height:200px; 
  	float: left;
  	font: 16pt/10pt Avenir; 
  	text-align: center;

  }

#block1{

	background-color: #b5231b;
	border-radius: 10px 0 0;

}
#block2{

	background-color: #e35d01;	
}

#block3{

	background-color: #f09837;	
	border-radius:  0 10px 0 0;
}

#block4{

	background-color: #3c3f0d;	
	border-radius:  0 0 0 10px;
}

#block5{
	
	background-color: #93a711;	
}

#block6{
	
	background-color: #feec82;	
	border-radius:  0 0 10px 0 ;
}

.block{

	width: 200px; 
  	height:100px; 
	background-color: rgba(0, 0, 1, 0.2);
}

.mini{
	width: 33.3%; 
	float: left;
	padding-top: 10px;
	opacity: 0.90; 
	font: 13pt/10pt Avenir; 


}

.myimg{
	padding-top: 10%;
	padding-bottom: 15%;
}

p {
	text-align: center;
	padding-top: 50px;


}